completionist-api

.env*

api.exe
/apps/api/bin/
/apps/api/uploads/

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# production
/build
